# Flask and Web Server related
Flask==3.1.1
itsdangerous==2.2.0
Werkzeug==3.1.3
flask-cors==6.0.0
gunicorn==22.0.0

# Data Fetching
requests==2.31.0
urllib3==2.2.2

# Google Cloud & BigQuery
google-api-core==2.25.0
google-auth==2.40.3
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.73.0
grpcio-status==1.73.0
proto-plus==1.26.1
protobuf==6.31.1

# Data Handling
pandas==2.2.3
numpy==2.2.5
db-dtypes==1.4.3

# Charting and Visualization
matplotlib==3.10.1
cycler==0.12.1
fonttools==4.57.0
kiwisolver==1.4.8
pillow==11.2.1
pyparsing==3.2.3

# Other utilities
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.16.0
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7